$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: #757575;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
$hamburger-types: collapse;
