// Imports
@import "colors";
@import "fonts";

@import "settings";
@import "~hamburgers/_sass/hamburgers/hamburgers";

// Reset
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Jost, -apple-system, sans-serif;
  height: 1200px;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

// Mixins
@mixin debug($color) {
  background-color: rgba($color, 0.1);
  border: 1px dashed rgba($color, 0.5);
}

@mixin full {
  height: 100%;
  width: 100%;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-horizontal {
  display: flex;
  justify-content: center;
}

@mixin center-vertical {
  display: flex;
  align-items: center;
}

@mixin position-absolute-bottom($distance) {
  position: absolute;
  bottom: $distance;
}

@mixin transition($property) {
  transition: $property 0.2s;
}

@mixin transition-background {
  outline: none;
  transition: background-color 0.2s;

  &:hover {
    background-color: $np-gray-2;
  }

  &:active,
  &:focus {
    background-color: $np-gray-3;
  }
}

@mixin transition-button($color) {
  outline: none;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($color, 8%);
  }

  &:active,
  &:focus {
    background-color: darken($color, 16%);
  }
}

// Base
.navbar {
  // @include debug;
  @include center-vertical;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.04);
  height: 64px;
  // position: relative;

  &__main {
    // @include debug(blue);
    @include full;
    @include center;
    background-color: #ffffff;
    overflow-x: hidden;
    user-select: none;
    z-index: 100;
  }

  &__wrapper {
    // @include debug(blue);
    @include center-vertical;
    height: inherit;
    margin: 0 16px;
    justify-content: space-between;
    width: 1024px;
  }

  &__brand {
    // @include debug(red);
    @include center-vertical;
    height: inherit;
  }

  &__logo {
    // @include debug(green);
    @include center-vertical;
    @include transition-background;
    border-radius: 4px;
    padding: 8px;
  }

  &__logomark {
    // @include debug(green);
    @include center-vertical;
    max-height: 32px;
    max-width: 28.26px;
    min-height: 32px;
    min-width: 28.26px;
  }

  &__logotype {
    // @include debug(green);
    @include center-vertical;
    margin-left: 8px;
    max-height: 22.27px;
    max-width: 58.37px;
    min-height: 22.27px;
    min-width: 58.37px;
  }

  &__links {
    // @include debug(green);
    @include center-vertical;
    height: inherit;
  }

  &__link {
    // @include debug(green);
    @include center-vertical;
    @include transition-background;
    border-radius: 4px;
    color: $np-gray-7;
    font-size: 14px;
    height: 32px;
    margin: 0 8px;
    padding: 0 8px;
  }

  &__button {
    @include center-vertical;
    border-radius: 4px;
    font-size: 14px;
    height: 32px;
    margin: 0 8px;
    padding: 0 16px;
  }

  &__login {
    @include transition-button($np-blue-1);
    background-color: $np-blue-1;
    color: $np-blue-8;
  }

  &__signup {
    @include transition-button($np-blue-5);
    background-color: $np-blue-5;
    color: #ffffff;
  }

  &__menu {
    @include transition-background;
    border-radius: 4px;
    display: none;
    height: 40px;
    width: 40px;
  }
}

// Subnavbar
.subnavbar {
  // @include debug(green);
  @include position-absolute-bottom(calc(100% - 64px));
  display: none;
  height: calc(100% - 64px);
  left: 0px;
  overflow-y: auto;
  transition: bottom 0.2s;
  width: 100%;

  & > :first-child {
    margin-top: 16px;
  }

  & > :last-child {
    margin-bottom: 16px;
  }

  &__link {
    @include transition-background;
    color: $np-gray-7;
    display: block;
    padding: 8px 16px;
  }

  &__button {
    @include center;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    margin: 0 16px;
    padding: 0 16px;
  }

  &__login {
    @include position-absolute-bottom(56px);
    @include transition-button($np-blue-1);
    background-color: $np-blue-1;
    color: $np-blue-8;
    margin: 16px;
    width: calc(100% - 32px);
  }

  &__signup {
    @include position-absolute-bottom(0);
    @include transition-button($np-blue-5);
    background-color: $np-blue-5;
    color: #ffffff;
    width: calc(100% - 32px);
  }
}

// Media Queries
@media only screen and (max-width: 685px) {
  .navbar {
    &__link {
      display: none;
    }

    &__menu {
      @include center;
    }
  }
  .subnavbar {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    &__login {
      display: none;
    }
  }
}

@media only screen and (max-width: 280px) {
  .navbar {
    &__logotype {
      display: none;
    }
  }
}

@media only screen and (max-width: 215px) {
  .navbar {
    &__signup {
      display: none;
    }
  }
}

@media only screen and (max-height: 364px) {
  .subnavbar {
    &__login {
      position: initial;
      width: initial;
    }

    &__signup {
      position: initial;
      width: initial;
    }
  }
}
